@import "tailwindcss";

@theme inline {
  --color-background: #FEF7EC;
  --color-text: #1C1814;
  --color-sage: #999E8C;
  --color-brown: #645D46;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-montserrat);
}